{#  Inherit from layout #}

<main role="main" class="inner cover my-auto text-center">
    <h1 class="cover-heading">Top of IMDb.</h1>
    <p class="lead">
        List of the best of the best films ever according to
        <a href="https://www.imdb.com/">Internet Movie Database</a>.
    </p>
    <p class="lead mt-5">
        <a href="/movies" class="btn btn-lg btn-primary">Go to movies list</a>
    </p>
</main>
<footer class="mastfoot mt-auto text-center">
    <div class="inner">
        <p>Made by Eugene Zabolotny.</p>
    </div>
</footer>