{#  Inherit from layout #}

<h1 class="my-5 py-5 text-center">Movies list</h1>
<div class="row">
    <div class="col-sm-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-lg-4">
                    <a href="/Avatar">
                        <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTYwOTEwNjAzMl5BMl5BanBnXkFtZTcwODc5MTUwMw@@._V1_SX300.jpg"
                             class="card-img" alt="Avatar">
                    </a>
                </div>
                <div class="col-lg-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="/Avatar">Avatar</a>
                        </h5>
                        <p class="card-text">
                            A paraplegic marine dispatched to the moon Pandora on a
                            unique mission becomes torn between following his orders
                            and protecting the world he feels is his home.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">2009,</small>
                            <small class="text-muted">James Cameron</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-lg-4">
                    <a href="/Avatar">
                        <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTYwOTEwNjAzMl5BMl5BanBnXkFtZTcwODc5MTUwMw@@._V1_SX300.jpg"
                             class="card-img" alt="Avatar">
                    </a>
                </div>
                <div class="col-lg-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="/Avatar">Avatar</a>
                        </h5>
                        <p class="card-text">
                            A paraplegic marine dispatched to the moon Pandora on a
                            unique mission becomes torn between following his orders
                            and protecting the world he feels is his home.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">2009,</small>
                            <small class="text-muted">James Cameron</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-lg-4">
                    <a href="/Avatar">
                        <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTYwOTEwNjAzMl5BMl5BanBnXkFtZTcwODc5MTUwMw@@._V1_SX300.jpg"
                             class="card-img" alt="Avatar">
                    </a>
                </div>
                <div class="col-lg-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="/Avatar">Avatar</a>
                        </h5>
                        <p class="card-text">
                            A paraplegic marine dispatched to the moon Pandora on a
                            unique mission becomes torn between following his orders
                            and protecting the world he feels is his home.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">2009,</small>
                            <small class="text-muted">James Cameron</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-lg-4">
                    <a href="/Avatar">
                        <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTYwOTEwNjAzMl5BMl5BanBnXkFtZTcwODc5MTUwMw@@._V1_SX300.jpg"
                             class="card-img" alt="Avatar">
                    </a>
                </div>
                <div class="col-lg-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="/Avatar">Avatar</a>
                        </h5>
                        <p class="card-text">
                            A paraplegic marine dispatched to the moon Pandora on a
                            unique mission becomes torn between following his orders
                            and protecting the world he feels is his home.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">2009,</small>
                            <small class="text-muted">James Cameron</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>