{#  Inherit from layout #}

<h1 class="my-5 py-5 text-center">Avatar</h1>
<div class="row">
    <div class="col-md-4">
        <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTYwOTEwNjAzMl5BMl5BanBnXkFtZTcwODc5MTUwMw@@._V1_SX300.jpg"
             class="card-img mb-5" alt="Avatar">
    </div>
    <div class="col-md-8">
        <p class="card-text">
            A paraplegic marine dispatched to the moon Pandora on a
            unique mission becomes torn between following his orders
            and protecting the world he feels is his home.
        </p>
        <p class="card-text">
            <span class="font-weight-bold">Year: </span><span>2009</span><br>
            <span class="font-weight-bold">Production: </span><span>20th Century Fox</span><br>
            <span class="font-weight-bold">Director: </span><span>James Cameron</span><br>
            <span class="font-weight-bold">Actors: </span><span>Sam Worthington, Zoe Saldana, Sigourney Weaver, Stephen Lang</span><br>
            <span class="font-weight-bold">Awards: </span><span>Won 3 Oscars. Another 86 wins & 128 nominations.</span><br>
            <span class="font-weight-bold">Runtime: </span><span>162 min</span><br>
            <span class="font-weight-bold">IMDb Rating: </span><span>7.8</span><br>
            <span class="font-weight-bold">Box Office: </span><span>$749,700,000</span><br>
            <span class="font-weight-bold">Website: </span><a href="http://www.avatarmovie.com/">http://www.avatarmovie.com/</a><br>
        </p>
    </div>
</div>