{% load static %}
{% load article_tags %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<p>Author: {{ article.author }}</p>

<p>Title: {{ article.title }}</p>

<p>New Title: {% add_random_number article.title %}</p>
<br>
{% comment %}<p>Description: {% select_description article language %}</p>{% endcomment %}
<p>Description: {{ article.description|safe }}</p>


<a href="{% url 'update' article.id %}">Update</a>
<a href="{% url 'delete' article.id %}">Delete</a>